
/* =========================
 MOBILE 
========================= */
@media screen and (max-width: 768px) {

  .hero {
    flex-direction: column;
    text-align: center; 
    padding: 30px 5% 50px 5%; 
  }

  .hero-text {
    order: 1;
    padding-bottom: 0;
    align-items: center;
    text-align: center; 
  }

  .hero-text h2 {
    width: 12ch; 
    animation: typing 3s steps(8, end) forwards;
    color: transparent;
    -webkit-text-stroke: 0.1vw #7c9758; 
    text-shadow: 0 0 10px rgba(247,207,5,0.4); 
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem; 
    margin: 0 auto; 
  }

  .hero-text h1 {
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(79,106,88,0.3);
  }

  .hero-image img {
    max-width: 200px;
  }

  .header {
    flex-direction: column;    
    align-items: center;       
    gap: 5px;                 
    padding: 8px 5%;          
  }

  .nav-left,
  .nav-right {
    flex-wrap: wrap;           
    justify-content: center;
    gap: 8px;                  
  }

  .header a {
    font-size: 12px;    
    padding: 5px 8px;
  }

  header .fa-brands {
    font-size: 20px;         
    padding: 5px;
  }
}
